html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: teal;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6
;
    }
    #footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height:100px;
    width: 100%;
    text-align: center;
    color: yellow;
    display: table-row;
    }
    .wrapper {
    text-align: center;
    }
    .button {
    position: absolute;
    top: 50%;
    }
    .big{
    text-align: center;
    color: yellow;
    font-weight: bold;
    }
    .title{
    font-size: x-large;
    text-align: center;
    color: yellow;
    } 
    .weathers{
    font-size: normal;
    text-align: center;
    color: aqua;
    font-weight: bold;
    }
    .buttons{
    text-align: center;
    color: teal;
    border-radius: 5px;
    border: yellow 1px solid;
    cursor: pointer;
    text-decoration: none;
    }

    .buttons:hover{
        color: black;
    }
    .container {
    display: flex;
    }
    .container > article {
    flex: 1; /*grow*/
    }
    .days {
    color: yellow;
    }

    #footer-link{
    text-align: center;
    color: teal;
    border-radius: 5px;
    border: yellow 1px solid;
    background-color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    }

    #footer-link:hover{
        color: gold;
        background-color: teal;
    }